<h2>CriptoTeca</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<dl class="tabs">
  <dd class="<%= value_for(@algorithm, "md5")    %>"><a href="#md5">MD5</a></dd>
  <dd class="<%= value_for(@algorithm, "sha1")   %>"><a href="#sha1">SHA1</a></dd>
  <dd class="<%= value_for(@algorithm, "sha128") %>"><a href="#sha128">SHA128</a></dd>
  <dd class="<%= value_for(@algorithm, "sha256") %>"><a href="#sha256">SHA256</a></dd>
  <dd class="<%= value_for(@algorithm, "sha384") %>"><a href="#sha384">SHA384</a></dd>
  <dd class="<%= value_for(@algorithm, "sha512") %>"><a href="#sha512">SHA512</a></dd>
  <dd class="<%= value_for(@algorithm, "base64") %>"><a href="#base64">Base64</a></dd>
</dl>

<ul class="tabs-content">
  <li class="<%= value_for(@algorithm, "md5") %>" id="md5Tab">
    <h3>Algoritmo de criptografia MD5</h3>
    <a href="https://en.wikipedia.org/wiki/md5" target="blank">Mais informações</a>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    
    <%= partial(:form, :locals => { :algorithm => "md5" }) %>
  </li>
  
  <li class="<%= value_for(@algorithm, "sha1") %>" id="sha1Tab">
    <a href="https://en.wikipedia.org/wiki/Sha1" target="blank">Mais informações</a>
    <a href="#">Mais informações</a>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <%= partial(:form, :locals => { :algorithm => "sha1" }) %>
  </li>

  <li class="<%= value_for(@algorithm, "sha128") %>" id="sha128Tab">
    <h3>Algoritmo de criptografia SHA128</h3>
    <a href="#">Mais informações</a>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <%= partial(:form, :locals => { :algorithm => "sha128" }) %>
  </li>

  <li class="<%= value_for(@algorithm, "sha256") %>" id="sha256Tab">
    <h3>Algoritmo de criptografia SHA256</h3>
    <a href="https://en.wikipedia.org/wiki/Sha2" target="blank">Mais informações</a>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <%= partial(:form, :locals => { :algorithm => "sha256" }) %>
  </li>

  <li class="<%= value_for(@algorithm, "sha384") %>" id="sha384Tab">
    <h3>Algoritmo de criptografia SHA384</h3>
    <a href="https://en.wikipedia.org/wiki/Sha2" target="blank">Mais informações</a>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <%= partial(:form, :locals => { :algorithm => "sha384" }) %>
  </li>

  <li class="<%= value_for(@algorithm, "sha512") %>" id="sha512Tab">
    <h3>Algoritmo de criptografia SHA512</h3>
    <a href="https://en.wikipedia.org/wiki/Sha2" target="blank">Mais informações</a>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <%= partial(:form, :locals => { :algorithm => "sha512" }) %>
  </li>

  <li class="<%= value_for(@algorithm, "base64") %>" id="base64Tab">
    <h3>Algoritmo de criptografia Base64</h3>
    <a href="https://en.wikipedia.org/wiki/Base64" target="blank">Mais informações</a>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <%= partial(:form, :locals => { :algorithm => "base64" }) %>
  </li>
</ul>